.backgroundContainer {
    background-image: url('https://media.istockphoto.com/id/519328889/photo/kigali-parliament-building-and-convention-centre.jpg?s=2048x2048&w=is&k=20&c=Z6sZEVNeX-qDu-gzurIcKTU1oJHIGnR58aVSZpEGMn4=');
    height: 100vh;
    width: 100vw;
  }
  